repomix-output.xml
This file is a merged representation of the entire codebase, combined into a single document by Repomix.

<file_summary>
This section contains a summary of this file.

<purpose>
This file contains a packed representation of the entire repository's contents.
It is designed to be easily consumable by AI systems for analysis, code review,
or other automated processes.
</purpose>

<file_format>
The content is organized as follows:
1. This summary section
2. Repository information
3. Directory structure
4. Repository files (if enabled)
5. Multiple file entries, each consisting of:
  - File path as an attribute
  - Full contents of the file
</file_format>

<usage_guidelines>
- This file should be treated as read-only. Any changes should be made to the
  original repository files, not this packed version.
- When processing this file, use the file path to distinguish
  between different files in the repository.
- Be aware that this file may contain sensitive information. Handle it with
  the same level of security as you would the original repository.
</usage_guidelines>

<notes>
- Some files may have been excluded based on .gitignore rules and Repomix's configuration
- Binary files are not included in this packed representation. Please refer to the Repository Structure section for a complete list of file paths, including binary files
- Files matching patterns in .gitignore are excluded
- Files matching default ignore patterns are excluded
- Files are sorted by Git change count (files with more changes are at the bottom)
</notes>

</file_summary>

<directory_structure>
.github/
  workflows/
    trigger.yml
force-app/
  main/
    default/
      classes/
        AccountTriggerHandler.cls
        BrokenBackendScript.cls
      flows/
        Contact_Update_Handler.flow-meta.xml
      objects/
        Account/
          validationRules/
            Block_Blacklisted.validationRule-meta.xml
            Require_Industry.validationRule-meta.xml
      triggers/
        AccountTrigger.trigger
.gitignore
COMPARISON.md
pmd-ruleset.xml
README.md
run-jataka.sh
run-pmd.sh
sfdx-project.json
</directory_structure>

<files>
This section contains the contents of the repository's files.

<file path="force-app/main/default/classes/AccountTriggerHandler.cls">
/**
 * AccountTriggerHandler - Handler class for AccountTrigger
 * 
 * Follows separation of concerns pattern.
 * All methods are bulkified and follow Apex best practices.
 */
public with sharing class AccountTriggerHandler {
    
    /**
     * Handles after update logic for Account records
     * @param newRecords - New versions of Account records
     * @param oldMap - Map of old Account records by ID
     */
    public static void handleAfterUpdate(List<Account> newRecords, Map<Id, Account> oldMap) {
        // Collect Account IDs - bulkified
        Set<Id> accountIds = new Set<Id>();
        for (Account acc : newRecords) {
            accountIds.add(acc.Id);
        }
        
        // Single query outside loop - follows best practices
        List<Contact> contacts = [
            SELECT Id, AccountId, Description
            FROM Contact
            WHERE AccountId IN :accountIds
            AND IsPrimary__c = true
        ];
        
        // Process in bulk
        List<Contact> toUpdate = new List<Contact>();
        for (Contact con : contacts) {
            Account oldAcc = oldMap.get(con.AccountId);
            Account newAcc = newRecords.contains(con.AccountId) 
                ? newRecords.get(newRecords.indexOf(con.AccountId)) 
                : null;
            
            if (newAcc != null && oldAcc.Name != newAcc.Name) {
                toUpdate.add(new Contact(
                    Id = con.Id,
                    Description = 'Updated via Account: ' + newAcc.Name
                ));
            }
        }
        
        // Single DML - bulkified
        if (!toUpdate.isEmpty()) {
            update toUpdate;
        }
    }
}
</file>

<file path="force-app/main/default/classes/BrokenBackendScript.cls">
public with sharing class BrokenBackendScript {
    public static void doSomething() {
        // KAMIKAZE TRAP: Missing semicolon below to trigger compilation error
        Account a = new Account(Name='Test Account')
        insert a;
    }
}
</file>

<file path="force-app/main/default/objects/Account/validationRules/Block_Blacklisted.validationRule-meta.xml">
<?xml version="1.0" encoding="UTF-8"?>
<ValidationRule xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Block_Blacklisted</fullName>
    <active>true</active>
    <errorConditionFormula>CONTAINS(Name, 'Blacklisted')</errorConditionFormula>
    <errorMessage>KAMIKAZE TRAP: Business Rule Violation. Cannot create Blacklisted Accounts.</errorMessage>
</ValidationRule>
</file>

<file path="force-app/main/default/objects/Account/validationRules/Require_Industry.validationRule-meta.xml">
<?xml version="1.0" encoding="UTF-8"?>
<ValidationRule xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Require_Industry</fullName>
    <active>true</active>
    <description>Forces the AI Healer to iteratively fix REST payloads by reading the schema to add the Industry field.</description>
    <errorConditionFormula>ISBLANK(TEXT(Industry))</errorConditionFormula>
    <errorMessage>KAMIKAZE TRAP: Industry is required for all new Accounts.</errorMessage>
</ValidationRule>
</file>

<file path="force-app/main/default/triggers/AccountTrigger.trigger">
/**
 * AccountTrigger - Handles Account update operations
 * 
 * This trigger updates the primary contact's description when an Account
 * is updated. Fully bulkified and follows best practices.
 */
trigger AccountTrigger on Account (after update) {
    
    // Collect Account IDs for bulk processing
    Set<Id> accountIds = new Set<Id>();
    for (Account acc : Trigger.new) {
        accountIds.add(acc.Id);
    }
    
    // Single SOQL query - BULKIFIED (no SOQL in for loops)
    List<Contact> contactsToUpdate = [
        SELECT Id, AccountId, Description
        FROM Contact
        WHERE AccountId IN :accountIds
        AND IsPrimary__c = true
    ];
    
    // Process contacts in bulk
    for (Contact con : contactsToUpdate) {
        Account oldAcc = Trigger.oldMap.get(con.AccountId);
        Account newAcc = Trigger.newMap.get(con.AccountId);
        
        if (oldAcc.Name != newAcc.Name) {
            con.Description = 'Updated via Account: ' + newAcc.Name;
        }
    }
    
    // Single DML statement - BULKIFIED
    if (!contactsToUpdate.isEmpty()) {
        update contactsToUpdate;
    }
}
</file>

<file path=".gitignore">
# Salesforce
.sf/
.sfdx/
.localstore/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
</file>

<file path="COMPARISON.md">
# PMD vs Jataka - Side by Side Comparison

## The Code Being Analyzed

### AccountTrigger.trigger
```apex
trigger AccountTrigger on Account (after update) {
    // Single SOQL query - BULKIFIED
    List<Contact> contacts = [
        SELECT Id, AccountId, Description
        FROM Contact
        WHERE AccountId IN :accountIds
    ];
    
    // Single DML - BULKIFIED
    update contacts;
}
```

### Hidden Flow (Contact_Update_Handler)
```xml
<!-- Runs on EVERY Contact update -->
<recordLookups>Get_Account_Details</recordLookups>    <!-- SOQL -->
<recordLookups>Get_User_Details</recordLookups>       <!-- SOQL -->
<recordLookups>Get_Opportunity_Count</recordLookups>  <!-- SOQL -->
```

---

## Analysis Results

| Aspect | PMD | Jataka |
|--------|-----|--------|
| **Method** | Static text scanning | Dynamic runtime execution |
| **Sees Apex Code** | ✅ Yes | ✅ Yes |
| **Sees Flows** | ❌ No | ✅ Yes |
| **Sees Process Builders** | ❌ No | ✅ Yes |
| **Sees Managed Packages** | ❌ No | ✅ Yes |
| **Detects Cascading Updates** | ❌ No | ✅ Yes |
| **Measures Actual Limits** | ❌ No | ✅ Yes |
| **Result** | ✅ PASS | ❌ FAIL |

---

## PMD Output

```
╔══════════════════════════════════════════════════════════════╗
║                    PMD ANALYSIS RESULTS                       ║
╠══════════════════════════════════════════════════════════════╣
║   ✓ No SOQL inside FOR loops detected                        ║
║   ✓ No DML inside FOR loops detected                         ║
║   ✓ Bulkification pattern detected                           ║
║                                                              ║
║   ╔══════════════════════════════════════════════════════╗   ║
║   ║  ✅ PASS - 0 Issues Found                             ║   ║
║   ╚══════════════════════════════════════════════════════╝   ║
║                                                              ║
║   Ready for deployment! 🚀                                    ║
╚══════════════════════════════════════════════════════════════╝
```

---

## Jataka Output

```
╔══════════════════════════════════════════════════════════════════════════╗
║                    🚨 GOVERNOR LIMIT REPORT 🚨                           ║
╠══════════════════════════════════════════════════════════════════════════╣
║  LIMIT                          USED    MAX    STATUS                    ║
║  ────────────────────────────────────────────────────────────────────    ║
║  SOQL Queries                   151    100    ❌ EXCEEDED (+51)          ║
║  ████████████████████████████████████████████████▓▓▓▓▓▓▓▓ 151%          ║
║                                                                          ║
║  ╔══════════════════════════════════════════════════════════════════╗   ║
║  ║   ❌ FAILED - GOVERNOR LIMIT BREACH DETECTED                     ║   ║
║  ║   SOQL Limit Exceeded: 151 queries (Limit: 100)                  ║   ║
║  ╚══════════════════════════════════════════════════════════════════╝   ║
║                                                                          ║
║  🔍 ROOT CAUSE:                                                          ║
║  ┌──────────────────────────────────────────────────────────────────┐   ║
║  │ SOURCE                    │ SOQL COUNT │ NOTES                   │   ║
║  ├──────────────────────────────────────────────────────────────────┤   ║
║  │ AccountTrigger            │     1      │ Bulkified - OK          │   ║
║  │ Contact_Update_Handler    │   150      │ 3 queries × 50 records │   ║
║  │ (Record-Triggered Flow)   │            │ Per-record execution!   │   ║
║  ├──────────────────────────────────────────────────────────────────┤   ║
║  │ TOTAL                     │   151      │ EXCEEDS LIMIT (100)     │   ║
║  └──────────────────────────────────────────────────────────────────┘   ║
║                                                                          ║
║  🛑 PR BLOCKED - Deployment prevented to protect Production             ║
╚══════════════════════════════════════════════════════════════════════════╝
```

---

## The Iceberg Visualization

```
                    ┌─────────────────────────────────┐
                    │         WHAT PMD SEES           │
                    │    (Above the water line)       │
                    │                                 │
                    │   AccountTrigger.trigger        │
                    │   ✅ 1 SOQL (bulkified)          │
                    │   ✅ 1 DML (bulkified)           │
                    │                                 │
                    │         ✅ PASS                 │
                    └─────────────┬───────────────────┘
                                  │
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~┼~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~                              │                              ~
    ~     WHAT PMD CAN'T SEE       │      WHAT JATAKA SEES        ~
    ~     (Below the water line)   │      (Full picture)          ~
    ~                              │                              ~
    ~   Contact_Update_Handler     │   AccountTrigger             ~
    ~   (Record-Triggered Flow)    │   ✅ 1 SOQL                  ~
    ~                              │                              ~
    ~   ❌ 3 SOQL per Contact      │   Contact_Update_Handler     ~
    ~   ❌ Runs 50 times           │   ❌ 150 SOQL                ~
    ~   ❌ = 150 hidden queries    │                              ~
    ~                              │   ─────────────────          ~
    ~                              │   TOTAL: 151 SOQL            ~
    ~                              │   LIMIT: 100                 ~
    ~                              │                              ~
    ~                              │   ❌ LIMIT BREACH            ~
    ~                              │                              ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~┼~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                  │
                    ┌─────────────┴───────────────────┐
                    │     THE HIDDEN TRAP             │
                    │                                 │
                    │   Flow runs 3 queries × 50      │
                    │   contacts = 150 SOQLs          │
                    │                                 │
                    │   Plus 1 from trigger            │
                    │   = 151 total                   │
                    │                                 │
                    │   LIMIT IS 100!                 │
                    └─────────────────────────────────┘
```

---

## Why This Matters

| Scenario | PMD Result | Actual Result | Jataka Result |
|----------|------------|---------------|---------------|
| Deploy to Production | ✅ Allowed | 💥 Runtime Error | ❌ Blocked |
| User Impact | None expected | All users affected | Prevented |
| Data Loss | None expected | Possible | Prevented |
| Business Impact | None expected | Critical | Prevented |

---

## The Bottom Line

> **PMD couldn't see the Flow because PMD doesn't execute code.**
> 
> **Jataka physically ran the transaction, hit the hidden Flow, and stopped a Governor Limit breach from destroying Production.**

---

*Jataka - Dynamic Runtime Governor Limit Analysis for Salesforce*
</file>

<file path="pmd-ruleset.xml">
<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Salesforce PMD Rules"
    xmlns="http://pmd.sourceforge.net/ruleset/2.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0 https://pmd.sourceforge.io/ruleset_2_0_0.xsd">
    
    <description>
        PMD Ruleset for Salesforce Apex Code
        Static analysis only - cannot detect runtime issues
    </description>
    
    <!-- Apex Best Practices -->
    <rule ref="category/apex/bestpractices.xml">
        <priority>1</priority>
    </rule>
    
    <!-- Apex Security -->
    <rule ref="category/apex/security.xml">
        <priority>1</priority>
    </rule>
    
    <!-- Apex Performance (includes OperationWithLimitsInLoop, etc.) -->
    <rule ref="category/apex/performance.xml">
        <priority>2</priority>
    </rule>
    
    <!-- Apex Design -->
    <rule ref="category/apex/design.xml">
        <priority>3</priority>
    </rule>
    
    <!-- 
        NOTE: PMD can only check TEXT in Apex files.
        It CANNOT see:
        - Flows
        - Process Builders
        - Managed Packages
        - Runtime behavior
        - Cross-object cascading updates
    -->
</ruleset>
</file>

<file path="README.md">
# Jataka Demo - The "Iceberg" Scenario

> **PMD couldn't see the Flow because PMD doesn't execute code. Jataka physically ran the transaction, hit the hidden Flow, and stopped a 101 SOQL limit breach from destroying Production.**

## The Problem

Salesforce Governor Limits are a critical concern for any deployment. Traditional static analysis tools like PMD only scan code text - they cannot detect:

- **Flows** (Record-Triggered, Screen Flows, Autolaunched)
- **Process Builders**
- **Managed Packages**
- **Runtime cascading updates**
- **Cross-object triggers**

This demo shows how a perfectly written, bulkified Apex trigger can still cause a Governor Limit breach due to a hidden Flow.

## Demo Structure

```
apex/
├── force-app/main/default/
│   ├── triggers/
│   │   └── AccountTrigger.trigger      # Clean, bulkified Apex
│   ├── classes/
│   │   └── AccountTriggerHandler.cls   # Best practice handler
│   └── flows/
│       └── Contact_Update_Handler.flow-meta.xml  # THE HIDDEN TRAP
├── pmd-ruleset.xml                     # PMD configuration
├── run-pmd.sh                          # PMD analysis script
├── run-jataka.sh                       # Jataka analysis script
└── README.md                           # This file
```

## The Iceberg

### Above Water (What PMD Sees)
```apex
// AccountTrigger.trigger - Perfectly bulkified
List<Contact> contacts = [SELECT Id FROM Contact WHERE AccountId IN :accountIds];
update contacts;  // Single DML
```
PMD Analysis: ✅ **PASS** - 0 Issues Found

### Below Water (What PMD Can't See)
```xml
<!-- Contact_Update_Handler.flow -->
<!-- Runs 3 SOQL queries PER Contact update -->
<recordLookups>Get_Account_Details</recordLookups>    <!-- SOQL #1 -->
<recordLookups>Get_User_Details</recordLookups>       <!-- SOQL #2 -->
<recordLookups>Get_Opportunity_Count</recordLookups>  <!-- SOQL #3 -->
```

## The Math

| Source | SOQL Count |
|--------|------------|
| AccountTrigger (bulkified) | 1 |
| Flow × 50 Contacts | 150 |
| **Total** | **151** |
| **Limit** | **100** |
| **Result** | **BREACH** |

## Running the Demo

### Step 1: Run PMD (Static Analysis)
```bash
chmod +x run-pmd.sh
./run-pmd.sh
```
**Output:** ✅ PASS - 0 Issues Found

### Step 2: Run Jataka (Dynamic Analysis)
```bash
chmod +x run-jataka.sh
./run-jataka.sh
```
**Output:** ❌ FAILED - SOQL Limit Exceeded (151/100)

## Video Script

### Scene 1: The Setup
> "Here's a perfectly written Apex trigger. It's bulkified, follows best practices, and has no SOQL inside FOR loops."

### Scene 2: PMD Analysis
> "Let's run PMD, the industry-standard static analysis tool..."
> [Run PMD]
> "PMD says we're safe to deploy. Zero issues found."

### Scene 3: The Hidden Trap
> "But in our Salesforce org, there's a Record-Triggered Flow on Contact. PMD can't see this because it only scans Apex files, not metadata."

### Scene 4: Jataka Analysis
> "Now let's run Jataka. It doesn't just read code - it executes it in a controlled environment and monitors the actual Governor Limits."
> [Run Jataka]
> "Jataka found the problem. The Flow runs 3 SOQL queries for every Contact update. With 50 Accounts, that's 150 queries from the Flow alone."

### Scene 5: The Mic Drop
> "PMD couldn't see the Flow because PMD doesn't execute code. Jataka physically ran the transaction, hit the hidden Flow, and stopped a Governor Limit breach from destroying Production."

## Key Takeaways

1. **Static analysis is not enough** - PMD only sees Apex code, not the full Salesforce environment
2. **Flows can cause limit breaches** - Even well-designed Flows can cause issues when triggered in bulk
3. **Jataka sees the whole picture** - By actually executing code, Jataka catches what static analysis misses
4. **Prevent before production** - Jataka blocks PRs that would cause limit breaches

## About Jataka

Jataka is a dynamic runtime Governor Limit analysis tool for Salesforce. It uses AI to:
- Navigate through your Salesforce org
- Execute test scenarios automatically
- Monitor actual Governor Limit consumption
- Block deployments that would breach limits

---

*Demo created for Jataka - Dynamic Runtime Governor Limit Analysis*
</file>

<file path="run-jataka.sh">
#!/bin/bash

# Jataka - Dynamic Runtime Governor Limit Analysis
# This script simulates Jataka's Kamikaze pod execution

echo "╔══════════════════════════════════════════════════════════════╗"
echo "║                                                              ║"
echo "║   ██╗ █████╗ ████████╗ █████╗ ███████╗ ██████╗ ██╗ ██╗       ║"
echo "║   ██║██╔══██╗╚══██╔══╝██╔══██╗██╔════╝██╔════╝██║ ██║       ║"
echo "║   ██║███████║   ██║   ███████║███████╗██║     ███████║       ║"
echo "║   ██║██╔══██║   ██║   ██╔══██║╚════██║██║     ██╔══██║       ║"
echo "║   ██║██║  ██║   ██║   ██║  ██║███████║╚██████╗██║  ██║       ║"
echo "║   ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝       ║"
echo "║                                                              ║"
echo "║        DYNAMIC RUNTIME GOVERNOR LIMIT ANALYSIS               ║"
echo "║              \"Seeing What Static Analysis Can't\"            ║"
echo "╚══════════════════════════════════════════════════════════════╝"
echo ""

echo "🔍 Initializing Jataka Kamikaze Pod..."
sleep 1
echo ""
echo "📋 Target: AccountTrigger.trigger"
echo "📋 Test Scenario: Bulk update of 50 Account records"
echo ""
echo "⏳ Generating dynamic test data..."
sleep 1
echo "   ✓ Created 50 test Accounts"
echo "   ✓ Created 50 primary Contacts (1 per Account)"
echo ""
echo "🚀 Executing runtime transaction..."
sleep 2
echo ""
echo "════════════════════════════════════════════════════════════════════════"
echo "                        RUNTIME EXECUTION LOG"
echo "════════════════════════════════════════════════════════════════════════"
echo ""
echo "  [00:00.001] Transaction started: AccountTrigger.afterUpdate"
echo "  [00:00.003]   └─ SOQL Query #1: SELECT Contact... (1 query)"
echo "  [00:00.005]   └─ DML Update: 50 Contacts updated"
echo ""
echo "  [00:00.010] ⚠️  DETECTED: Cascading Flow Triggered"
echo "  [00:00.010]   └─ Flow: Contact_Update_Handler"
echo "  [00:00.012]     ├─ Contact #1 updated"
echo "  [00:00.012]     │   ├─ SOQL #2: Get_Account_Details"
echo "  [00:00.013]     │   ├─ SOQL #3: Get_User_Details"
echo "  [00:00.014]     │   └─ SOQL #4: Get_Opportunity_Count"
echo "  [00:00.015]     ├─ Contact #2 updated"
echo "  [00:00.015]     │   ├─ SOQL #5: Get_Account_Details"
echo "  [00:00.016]     │   ├─ SOQL #6: Get_User_Details"
echo "  [00:00.017]     │   └─ SOQL #7: Get_Opportunity_Count"
echo "  ..."
echo "  [00:01.234]     ├─ Contact #50 updated"
echo "  [00:01.234]     │   ├─ SOQL #148: Get_Account_Details"
echo "  [00:01.235]     │   ├─ SOQL #149: Get_User_Details"
echo "  [00:01.236]     │   └─ SOQL #150: Get_Opportunity_Count"
echo ""
echo "════════════════════════════════════════════════════════════════════════"
echo ""

sleep 1

cat << 'EOF'
╔══════════════════════════════════════════════════════════════════════════╗
║                    🚨 GOVERNOR LIMIT REPORT 🚨                           ║
╠══════════════════════════════════════════════════════════════════════════╣
║                                                                          ║
║  LIMIT                          USED    MAX    STATUS                    ║
║  ────────────────────────────────────────────────────────────────────    ║
║                                                                          ║
║  SOQL Queries                   151    100    ❌ EXCEEDED (+51)          ║
║  ████████████████████████████████████████████████▓▓▓▓▓▓▓▓ 151%          ║
║                                                                          ║
║  DML Statements                  51     150    ✅ OK                     ║
║  ████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░ 34%            ║
║                                                                          ║
║  CPU Time (ms)                 1234    10000    ✅ OK                    ║
║  ████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 12%            ║
║                                                                          ║
║  Heap Size (KB)                 512     6000    ✅ OK                    ║
║  ████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 8%             ║
║                                                                          ║
╠══════════════════════════════════════════════════════════════════════════╣
║                                                                          ║
║  ╔══════════════════════════════════════════════════════════════════╗   ║
║  ║                                                                  ║   ║
║  ║   ❌ FAILED - GOVERNOR LIMIT BREACH DETECTED                     ║   ║
║  ║                                                                  ║   ║
║  ║   SOQL Limit Exceeded: 151 queries (Limit: 100)                  ║   ║
║  ║                                                                  ║   ║
║  ╚══════════════════════════════════════════════════════════════════╝   ║
║                                                                          ║
╠══════════════════════════════════════════════════════════════════════════╣
║                                                                          ║
║  🔍 ROOT CAUSE ANALYSIS:                                                 ║
║                                                                          ║
║  The SOQL limit breach was caused by:                                    ║
║                                                                          ║
║  ┌──────────────────────────────────────────────────────────────────┐   ║
║  │ SOURCE                    │ SOQL COUNT │ NOTES                   │   ║
║  ├──────────────────────────────────────────────────────────────────┤   ║
║  │ AccountTrigger            │     1      │ Bulkified - OK          │   ║
║  │ Contact_Update_Handler    │   150      │ 3 queries × 50 records │   ║
║  │ (Record-Triggered Flow)   │            │ Per-record execution!   │   ║
║  ├──────────────────────────────────────────────────────────────────┤   ║
║  │ TOTAL                     │   151      │ EXCEEDS LIMIT (100)     │   ║
║  └──────────────────────────────────────────────────────────────────┘   ║
║                                                                          ║
║  ⚠️  HIDDEN TRAP DETECTED:                                                ║
║  The Flow "Contact_Update_Handler" runs 3 SOQL queries for EVERY        ║
║  Contact update. This is invisible to static analysis tools like PMD.   ║
║                                                                          ║
╠══════════════════════════════════════════════════════════════════════════╣
║                                                                          ║
║  🛑 PR BLOCKED - Deployment prevented to protect Production             ║
║                                                                          ║
║  Recommended Actions:                                                    ║
║  1. Bulkify the Contact_Update_Handler Flow                             ║
║  2. Consider using a Before Save Flow for simple updates                ║
║  3. Combine the 3 SOQL queries into a single query                      ║
║  4. Or: Move logic to Apex trigger for better control                   ║
║                                                                          ║
╚══════════════════════════════════════════════════════════════════════════╝

EOF
</file>

<file path="run-pmd.sh">
#!/bin/bash

# PMD Static Analysis Runner for Jataka Demo
# This script runs PMD against the Apex code

echo "╔══════════════════════════════════════════════════════════════╗"
echo "║              PMD STATIC CODE ANALYSIS                        ║"
echo "║          Scanning Apex files for violations...               ║"
echo "╚══════════════════════════════════════════════════════════════╝"
echo ""

# Run PMD
pmd check -d ./force-app -R pmd-ruleset.xml -f textcolor 2>/dev/null
PMD_EXIT=$?

echo ""
echo "══════════════════════════════════════════════════════════════"
echo "                    PMD SUMMARY"
echo "══════════════════════════════════════════════════════════════"
echo ""
echo "  ✓ No SOQL inside FOR loops detected"
echo "  ✓ No DML inside FOR loops detected" 
echo "  ✓ Code is properly bulkified"
echo ""
echo "  Note: Minor warnings found (CRUD checks, trigger logic)"
echo "        These are best practices, not governor limit issues."
echo ""
echo "  ╔══════════════════════════════════════════════════════╗"
echo "  ║  ✅ PASS - No Governor Limit Violations              ║"
echo "  ╚══════════════════════════════════════════════════════╝"
echo ""
echo "  Ready for deployment! 🚀"
echo ""
echo "══════════════════════════════════════════════════════════════"
</file>

<file path="force-app/main/default/flows/Contact_Update_Handler.flow-meta.xml">
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Hidden Flow that runs on Contact update - THE ICEBERG BELOW THE SURFACE</description>
    <label>Contact Update Handler</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Count</name>
        <label>Get Opportunity Count</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>200</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterFormula>True</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
</file>

<file path="sfdx-project.json">
{
  "packageDirectories": [
    {
      "path": "force-app",
      "default": true
    }
  ],
  "namespace": "",
  "sfdcLoginUrl": "https://login.salesforce.com",
  "sourceApiVersion": "66.0"
}
</file>

<file path=".github/workflows/trigger.yml">
name: Trigger Jataka Kamikaze Pods
'on':
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  trigger-jataka:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Salesforce CLI
        run: npm install --global @salesforce/cli

      - name: Authenticate to Salesforce
        run: |
          echo "${{ secrets.SFDX_AUTH_URL }}" > auth_url.txt
          sf org login sfdx-url --sfdx-url-file auth_url.txt --set-default --alias staging-org
          rm auth_url.txt

      - name: Deploy Source
        run: sf project deploy start --target-org staging-org --source-dir force-app --wait 10

      - name: Assign Permission Set
        run: |
          output=$(sf org assign permset -n Apex_Recipes --target-org staging-org 2>&1) && {
            echo "$output"
            exit 0
          }
          echo "$output"
          if echo "$output" | grep -q "Duplicate PermissionSetAssignment"; then
            echo "Permission set already assigned; continuing."
            exit 0
          fi
          exit 1

      - name: Trigger Jataka Kamikaze Pods
        env:
          JATAKA_API_URL: ${{ secrets.JATAKA_API_URL }}
          JATAKA_API_KEY: ${{ secrets.JATAKA_API_KEY }}
          JATAKA_INSTALLATION_ID: ${{ secrets.JATAKA_INSTALLATION_ID }}
        run: |
          # Secrets sometimes contain trailing whitespace/newlines or surrounding quotes.
          # Sanitize before composing the final URL to avoid curl "Malformed input to a URL function".
          API_URL="$(printf '%s' "$JATAKA_API_URL" | tr -d '\r\n' | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"
          API_URL="${API_URL%\"}"
          API_URL="${API_URL#\"}"
          API_URL="${API_URL%'}"
          API_URL="${API_URL#'}"
          API_URL="${API_URL%/}"

          TARGET_URL="${API_URL}/api/integrations/github/trigger"

          if ! printf '%s' "$TARGET_URL" | grep -Eq '^https?://'; then
            echo "Invalid JATAKA_API_URL (must start with http(s)://)."
            exit 1
          fi

          API_KEY="$(printf '%s' "$JATAKA_API_KEY" | tr -d '\r\n' | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"
          API_KEY="${API_KEY%\"}"
          API_KEY="${API_KEY#\"}"
          API_KEY="${API_KEY%'}"
          API_KEY="${API_KEY#'}"

          INSTALLATION_ID="$(printf '%s' "$JATAKA_INSTALLATION_ID" | tr -d '\r\n' | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"
          INSTALLATION_ID="${INSTALLATION_ID%\"}"
          INSTALLATION_ID="${INSTALLATION_ID#\"}"
          INSTALLATION_ID="${INSTALLATION_ID%'}"
          INSTALLATION_ID="${INSTALLATION_ID#'}"

          if [ -z "$INSTALLATION_ID" ]; then
            echo "Missing/empty JATAKA_INSTALLATION_ID after sanitization."
            exit 1
          fi
          if ! printf '%s' "$INSTALLATION_ID" | grep -Eq '^[0-9]+$'; then
            echo "JATAKA_INSTALLATION_ID must be numeric (got: '$INSTALLATION_ID')."
            exit 1
          fi

          REPO_FULL_NAME="${{ github.repository }}"
          BRANCH="${{ github.head_ref }}"
          PR_NUMBER="${{ github.event.pull_request.number }}"
          TEST_MODE="${{ vars.JATAKA_TEST_MODE || 'auto' }}"

          if ! printf '%s' "$PR_NUMBER" | grep -Eq '^[0-9]+$'; then
            echo "PR number must be numeric (got: '$PR_NUMBER')."
            exit 1
          fi

          PAYLOAD="$(INSTALLATION_ID="$INSTALLATION_ID" REPO_FULL_NAME="$REPO_FULL_NAME" BRANCH="$BRANCH" PR_NUMBER="$PR_NUMBER" TEST_MODE="$TEST_MODE" python3 -c 'import json,os; installation_id=int(os.environ["INSTALLATION_ID"]); pr_number=int(os.environ["PR_NUMBER"]); print(json.dumps({"installation_id": installation_id, "repo_full_name": os.environ["REPO_FULL_NAME"], "branch": os.environ["BRANCH"], "pr_number": pr_number, "test_mode": os.environ["TEST_MODE"]}))')"

          curl --fail-with-body --show-error -X POST "$TARGET_URL" \
            -H "Authorization: Bearer $API_KEY" \
            -H "Content-Type: application/json" \
            -d "$PAYLOAD"
</file>

</files>
